@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700,700i&display=swap&subset=cyrillic');

canvas {
  display: block;
  position: fixed;
  /* left: -5vw; */
  top: 0;
  z-index: -1;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: #3854E8;
  color: #FFFFFF;

  font-family: 'Anonymous Pro', monospace;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

nav {
  height: 8vh;
  width: 100vw;
  /* font-size: 30px; */
  font-size: 1.56vw;
  list-style: none;
  color: #FFFFFF;
  display: block;
  justify-content: none;
  align-items: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  visibility: visible;

  position: absolute;
  /* width: 602px; */
  width: 31.35vw;
  height: auto;
  right: 58px;
  top: 50px;
}

nav li:hover {
  text-decoration: underline;
}

nav img {
  position: fixed;
  height: 25px;
  right: 7.5vw;
  top: 50px;
}

section {
  visibility: visible;
}

h1 {
  /* font-size: 50px; */
  font-size: 3vw;
  position: fixed;
}

.h1_top-left {
  left: 59px;
  top: 79px;
}
.h1_bot-left {
  left: 60px;
  bottom: 55px;
}
.h1_bot-right {
  right: 53px;
  bottom: 55px;
}

#open, 
#close {
    visibility: hidden;
  }

@media (max-width: 768px) {
  nav {
    font-size: 3vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    text-align: center;
    z-index: 3;
  }

  nav ul {
    visibility: hidden;
    flex-direction: column;
    height: 20vh;
    width: auto;
    position: static;
  }

  h1 {
    font-size: 3vh;
  }

  #open {
    visibility: visible;
  }
}

@media (max-width: 375px) {
  nav {
    font-size: 25px;
  }
  
  h1 {
    font-size: 25px;
  }

  .h1_top-left {
    left: 30px;
    top: 70px;
  }
  .h1_bot-left {
    left: 30px;
    bottom: 62px;
  }
  .h1_bot-right {
    right: 30px;
    bottom: 62px;
  }
}















/*  */